---
import Layout from "../layouts/AppLayout.astro";
---

<Layout title="mvlst">
  <main class="mx-auto max-w-md space-y-8 py-12">
    <div>
      <h1 class="mb-1 text-headers">Mvlst</h1>
      <p class="text-sm">
        A home for collecting your watched movies. You should probably use
        something else, though.
      </p>
    </div>
    <div>
      <h2 class="mb-1 text-headers">About</h2>
      <p class="text-sm">
        Built for personal usage and to make an app with some new technologies.
        Bare-featured, minimal, boring that load fast and just works. No
        tracking and no nothing else.
      </p>
    </div>
  </main>
</Layout>
