---
import Layout from "../layouts/Layout.astro";
---

<Layout title="mvlst">
  <main>
    <h1 class="font-bold">Homepage</h1>
    <form hx-get="/api/movies" hx-target="#movies">
      <button type="submit">Load movies</button>
    </form>
    <section id="movies"></section>
  </main>
</Layout>
