---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Login">
  <form
    hx-post="/api/login"
    hx-target="#error"
    class="mx-auto flex max-w-xl flex-col gap-4 p-4"
  >
    <div>
      <label for="email">Email address</label>
      <input
        required
        autofocus
        id="email"
        name="email"
        type="email"
        autocomplete="email"
      />
    </div>
    <div>
      <label for="password">Password</label>
      <input
        required
        id="password"
        name="password"
        type="password"
        autocomplete="current-password"
      />
    </div>
    <button type="submit">
      <span>Log in</span>
    </button>
  </form>
  <div id="error" class="text-red-500"></div>
</Layout>
