---
import { Icon } from "astro-icon/components";

interface Props {
  icon: string;
}

const { icon } = Astro.props;
---

<button
  hx-post="/api/logout"
  x-data="{ tooltip: false }"
  x-on:mouseover="tooltip = true"
  x-on:mouseleave="tooltip = false"
  class="group flex h-8 w-8 items-center justify-center rounded-full border border-black bg-black transition-all duration-300 ease-in-out hover:bg-white"
>
  <Icon
    name={icon}
    class="h-4 w-4 text-white duration-300 ease-in-out group-hover:text-black"
  />
  <slot />
</button>
