---
interface Props {
  isLogged: boolean;
}

const { isLogged } = Astro.props;
---

<nav class="flex items-center justify-between gap-4 pb-4">
  <div>Logo</div>
  <div class="flex items-center gap-4">
    {
      isLogged ? (
        <>
          <a class="text-sm underline" href="/app/search">
            Search
          </a>
          <a class="text-sm underline" href="/app">
            Watched
          </a>
          <a class="text-sm underline" href="/app/to-watch">
            To Watch
          </a>
        </>
      ) : (
        <>
          <a class="text-sm underline" href="/login">
            Login
          </a>
          <a class="text-sm underline" href="/register">
            Register
          </a>
        </>
      )
    }
  </div>
</nav>
