---
import MovieForm from "@/components/movie-form.astro";
import Title from "@/components/title.astro";
import Layout from "@/layouts/AppLayout.astro";

const title = Astro.url.searchParams.get("title");
const poster = Astro.url.searchParams.get("poster");

const isLogged: boolean = Astro.locals.pb.authStore.isValid;

if (!isLogged || !title || !poster) {
  return Astro.redirect("/");
}
---

<Layout title={`Add ${title}`}>
  <main class="mx-auto max-w-md lg:py-10">
    <Title title="Add"> Add to your watched list.</Title>
    <MovieForm title={title} poster={poster} liked={false} status="watched" />
  </main>
</Layout>
