---
import Layout from "../../layouts/AppLayout.astro";
const isLogged: boolean = Astro.locals.pb.authStore.isValid;

if (!isLogged) {
  return Astro.redirect("/");
}
---

<Layout title="mvlst">
  <h1>App</h1>
  <form hx-get="/api/movies" hx-target="#movies">
    <button type="submit">Load movies</button>
  </form>
  <section id="movies"></section>
</Layout>
