---
import Movie from "@/components/movie.astro";
import Layout from "@/layouts/AppLayout.astro";
import { getMovies } from "@/lib/pocketbase";

const isLogged: boolean = Astro.locals.pb.authStore.isValid;

if (!isLogged) {
  return Astro.redirect("/");
}

const movies = await getMovies(Astro.locals.pb);
---

<Layout title="mvlst">
  <h1>Movies</h1>
  <section>
    {
      movies.map((movie) => {
        return <Movie title={movie.title} />;
      })
    }
  </section>
</Layout>
