---
import Title from "@/components/title.astro";
import Button from "@/components/ui/button.astro";
import Input from "@/components/ui/input.astro";
import Layout from "@/layouts/AppLayout.astro";
import { Icon } from "astro-icon/components";

const isLogged: boolean = Astro.locals.pb.authStore.isValid;

if (!isLogged) {
  return Astro.redirect("/");
}
---

<Layout title="Search">
  <main class="mx-auto max-w-md lg:pt-20">
    <Title title="Search"> Search for your favorite movies. </Title>
    <form
      class="flex flex-col gap-2"
      hx-get="/api/search"
      hx-params="*"
      hx-target="#search"
      hx-indicator="#loader"
    >
      <Input
        required
        type="search"
        name="name"
        placeholder="Lord of the Rings"
      />
      <Button className="self-end">
        <span>Search</span>
        <Icon
          id="loader"
          name="loader"
          class="htmx-indicator h-6 w-6 animate-spin text-white"
          x-cloak
        />
      </Button>
    </form>
  </main>
  <section
    class="mx-auto grid w-full max-w-3xl grid-cols-2 gap-4 py-4 lg:grid-cols-4"
    id="search"
  >
  </section>
</Layout>
