---
import Button from "@/components/ui/button.astro";
import Layout from "@/layouts/AppLayout.astro";
---

<Layout title="Search">
  <form hx-get="/api/search" hx-params="*" hx-target="#search">
    <input
      class="rounded border border-black"
      type="text"
      name="name"
      id="name"
      required
      placeholder="test"
    />
    <Button text="Search" />
  </form>
  <section class="grid grid-cols-2 gap-4" id="search"></section>
</Layout>
