---
import Nav from "../components/nav.astro";
import Layout from "./Layout.astro";
const isLogged: boolean = Astro.locals.pb.authStore.isValid;

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<Layout title={title}>
  <Nav isLogged={isLogged} />
  <slot />
  {
    isLogged && (
      <div class="absolute bottom-4 right-4" x-data="{ open: false }">
        <button
          class="text-sm underline"
          @click="open = !open"
          @keydown.escape="isOpen = false"
        >
          User
        </button>
        <form
          class="absolute -top-12 right-0 z-20 overflow-hidden rounded border border-border px-4 py-2"
          x-show="open"
          @click.away="open = false"
          hx-post="/api/logout"
        >
          <button class="text-sm underline" type="submit">
            Logout
          </button>
        </form>
      </div>
    )
  }
</Layout>
