---
import { twMerge } from "tailwind-merge";

interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<button
  class={twMerge(
    `w-full transition-colors rounded bg-foreground hover:bg-foreground/80 py-2.5 border border-border text-sm flex justify-center gap-2 items-center text-headers ${className}`
  )}
  type="submit"
>
  <slot />
</button>
