---
import { twMerge } from "tailwind-merge";

interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<button
  class={twMerge(
    `w-full rounded bg-foreground py-2.5 border border-border text-sm flex justify-center items-center text-headers ${className}`
  )}
  type="submit"
>
  <slot />
</button>
