---
interface Props {
  text: string;
}

const { text } = Astro.props;
---

<div
  x-cloak
  x-transition:enter="transition ease-out duration-200"
  x-transition:enter-start="opacity-0 scale-90"
  x-transition:enter-end="opacity-100 scale-100"
  x-transition:leave="transition ease-in duration-200"
  x-transition:leave-start="opacity-100 scale-100"
  x-transition:leave-end="opacity-0 scale-90"
  x-show="tooltip"
  class="absolute w-fit -translate-y-10 transform text-nowrap rounded-lg bg-black p-2 text-sm text-white"
  role="tooltip"
>
  {text}
</div>
